*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
    justify-content: center;
}
ul{
    list-style: none;
}

/* ---------FONTS-------- */
.name{
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.647);
    font-size: 1.2rem;
    text-align: center;
   
}
span{
    font-family: "Bungee Spice", sans-serif;   
}

